* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FF69B4;
  height: 15vh;
  color: #E4EEF1;

  section {
      display: flex;
      align-items: center;
  }

  nav {
      width: 40%;

      ul {
          display: flex;
          justify-content: space-around;

          a {
              color: #E4EEF1;
              font-size: 28px;
          }
      }
  }
} 
.sessaoAlerta {
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #FFD9EC;

  p {
      width: 40%;
      font-size: 25px;
  }
}
.sessaoCorrida {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #FF69B4;
  height: 40vh;

  p {
      width: 50%;
      font-size: 25px;
      color: #E4EEF1;
  }
}
 .imgs{
    background-color: #ffd9ec;
    justify-content:space-evenly;
    display: flex;
    width: 100%;
    height: 60vh;
    align-items: center;
  }

footer{
  background-color: #FF69B4;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-around;

  .caixaP{
    flex-direction: column;
    display: flex;
    text-align: center;
    width: 50%;
  }
}

@media (max-width: 768px) {
  header {
      flex-direction: column;
      justify-content: center;
      height: 20vh;

      nav {
          width: 100%;

          ul {
              justify-content: space-evenly;

          
              a {
                  font-size: 20px;
              }
          }
      }
  }

  .sessaoAlerta {
      height: 80vh;
      flex-direction: column-reverse;

      p {
          width: 95%;
          font-size: 20px;
          text-align: center;
      }
  }

  .sessaoCorrida {
      height: 80vh;
      flex-direction: column;

      p {
          width: 95%;
          font-size: 20px;
          text-align: center;
      }
  }
}
 

  

  
